In [1]:
import pandas as pd

path = "data/raw/structured/eba_transparency_2025_raq_statistical_annex.xlsx"

xls = pd.ExcelFile(path)
xls.sheet_names

['Results']

In [3]:
df = pd.read_excel(path, sheet_name="Results")
df.head()
df.columns
df.shape

(943, 12)

In [4]:
sdd = pd.read_excel("data/raw/structured/SDD.xlsx")
sdd.head()
sdd.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'For reference, previous exercises' items', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [5]:
df = pd.read_excel(
    "data/raw/structured/eba_transparency_2025_raq_statistical_annex.xlsx",
    sheet_name="Results"
)

df.info()
df.head(3)
df.tail(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          0 non-null      float64
 1   Autumn-25           898 non-null    object
 2   Unnamed: 2          696 non-null    float64
 3   Unnamed: 3          0 non-null      float64
 4   Historical Results  509 non-null    object
 5   Unnamed: 5          363 non-null    object
 6   Unnamed: 6          351 non-null    object
 7   Unnamed: 7          285 non-null    object
 8   Unnamed: 8          223 non-null    object
 9   Unnamed: 9          173 non-null    object
 10  Unnamed: 10         173 non-null    object
 11  Unnamed: 11         103 non-null    object
dtypes: float64(3), object(9)
memory usage: 88.5+ KB

,Unnamed: 0,Autumn-25,Unnamed: 2,Unnamed: 3,Historical Results,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
940,NaN,f) Sustainability-linked bonds* (performance-b...,0.035294,NaN,f) Sustainability-linked bonds* (Performance-b...,0.035294,0.023529,0.011765,0.023529,0.047059,0.047059,0.05
941,NaN,g) Bonds that are a combination of proceeds an...,0.023529,NaN,g) Bonds that are a combination of proceeds an...,0.023529,0.011765,0.011765,0.011765,0.035294,0.023529,0
942,NaN,h) None of the above,0.188235,NaN,h) None of the above,0.188235,0.211765,0.211765,0.235294,0.294118,0.317647,0.216667

In [6]:
df.nunique()

Unnamed: 0              0
Autumn-25             333
Unnamed: 2             76
Unnamed: 3              0
Historical Results    221
Unnamed: 5             69
Unnamed: 6             73
Unnamed: 7             87
Unnamed: 8             93
Unnamed: 9             59
Unnamed: 10            56
Unnamed: 11            45
dtype: int64

In [7]:
sdd_raw = pd.read_excel(
    "data/raw/structured/SDD.xlsx",
    header=None
)

sdd_raw.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,NaN,NaN,NaN,"For reference, previous exercises' items",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CSV,Template,Collection,Item,Item_TR_2024,Item_TR_2023,Item_TR_2022,Item_TR_2021,Item_TR_2020A,Item_TR_2020S,Item_TR_2019,Item_TR_2018,Item_TR_2017,Item_TR_2016,Item_TR_2015,Item_TR_2014,Category,Label
2,tr_oth.csv,Capital,TR2025,2520101,2420101,2320101,2220101,2120101,2020101,2020101,1920101,1820101,1720101,1620101,150101,993401,Capital,OWN FUNDS
3,tr_oth.csv,Capital,TR2025,2520102,2420102,2320102,2220102,2120102,2020102,2020102,1920102,1820102,1720102,1620102,150102,993402,Capital,COMMON EQUITY TIER 1 CAPITAL (net of deduction...
4,tr_oth.csv,Capital,TR2025,2520103,2420103,2320103,2220103,2120103,2020103,2020103,1920103,1820103,1720103,1620103,150103,993403,Capital,Capital instruments eligible as CET1 Capital (...
5,tr_oth.csv,Capital,TR2025,2520104,2420104,2320104,2220104,2120104,2020104,2020104,1920104,1820104,1720104,1620104,150104,993405,Capital,Retained earnings
6,tr_oth.csv,Capital,TR2025,2520105,2420105,2320105,2220105,2120105,2020105,2020105,1920105,1820105,1720105,1620105,150105,993406,Capital,Accumulated other comprehensive income
7,tr_oth.csv,Capital,TR2025,2520106,2420106,2320106,2220106,2120106,2020106,2020106,1920106,1820106,1720106,1620106,150106,993409,Capital,Other Reserves
8,tr_oth.csv,Capital,TR2025,2520107,2420107,2320107,2220107,2120107,2020107,2020107,1920107,1820107,1720107,1620107,150107,993410,Capital,Funds for general banking risk
9,tr_oth.csv,Capital,TR2025,2520108,2420108,2320108,2220108,2120108,2020108,2020108,1920108,1820108,1720108,1620108,150108,993411,Capital,Minority interest given recognition in CET1 ca...

In [9]:
canonical_columns = [
    "exercise",
    "item_label",
    "item_code",
    "period",
    "value",
    "unit",
    "source"
]

In [10]:
path = "data/raw/structured/eba_transparency_2025_raq_statistical_annex.xlsx"
df = pd.read_excel(path, sheet_name="Results")

print(df.columns.tolist())
df.head(15)

['Unnamed: 0', 'Autumn-25', 'Unnamed: 2', 'Unnamed: 3', 'Historical Results', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

,Unnamed: 0,Autumn-25,Unnamed: 2,Unnamed: 3,Historical Results,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Q1 Do you expect an overall increase in your b...,NaN,NaN,Q1 Do you expect an overall increase in your b...,Autumn-25,Spring-25,Autumn-24,Spring-24,Autumn-23,Spring-23,Autumn-22
2,NaN,a) Yes,0.129412,NaN,a) Yes,0.129412,0.105882,0.117647,0.13,0.305882,0.352941,0.216667
3,NaN,b) Probably yes,0.188235,NaN,b) Probably yes,0.188235,0.2,0.247059,0.15,0.341176,0.388235,0.466667
4,NaN,c) Probably no,0.400000,NaN,c) Probably no,0.4,0.329412,0.4,0.42,0.282353,0.176471,0.216667
5,NaN,d) No,0.270588,NaN,d) No,0.270588,0.341176,0.211765,0.28,0.058824,0.058824,0.083333
6,NaN,e) No opinion,0.011765,NaN,e) No opinion,0.011765,0.023529,0.023529,0.01,0.01,0.023529,0.016667
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Q2 Which areas are you primarily targeting to ...,NaN,NaN,Q2 Which areas are you primarily targeting to ...,Autumn-25,Spring-25,Autumn-24,Spring-24,Autumn-23,Spring-23,Autumn-22
10,NaN,1,0.329412,NaN,1,0.329412,0.376471,0.388235,0.4,0.705882,0.705882,0.566667
11,NaN,2,0.411765,NaN,2,0.411765,0.329412,NaN,NaN,NaN,NaN,NaN
12,NaN,3,0.188235,NaN,3,0.188235,0.211765,NaN,NaN,NaN,NaN,NaN
13,NaN,4,0.058824,NaN,4,0.058824,0.058824,NaN,NaN,NaN,NaN,NaN
14,NaN,Not Applicable,0.011765,NaN,Not Applicable,0.011765,0.023529,NaN,NaN,NaN,NaN,NaN

In [11]:
df2 = df.dropna(axis=1, how="all").copy()
print(df2.columns.tolist())
df2.head(10)

['Autumn-25', 'Unnamed: 2', 'Historical Results', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

,Autumn-25,Unnamed: 2,Historical Results,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q1 Do you expect an overall increase in your b...,NaN,Q1 Do you expect an overall increase in your b...,Autumn-25,Spring-25,Autumn-24,Spring-24,Autumn-23,Spring-23,Autumn-22
2,a) Yes,0.129412,a) Yes,0.129412,0.105882,0.117647,0.13,0.305882,0.352941,0.216667
3,b) Probably yes,0.188235,b) Probably yes,0.188235,0.2,0.247059,0.15,0.341176,0.388235,0.466667
4,c) Probably no,0.400000,c) Probably no,0.4,0.329412,0.4,0.42,0.282353,0.176471,0.216667
5,d) No,0.270588,d) No,0.270588,0.341176,0.211765,0.28,0.058824,0.058824,0.083333
6,e) No opinion,0.011765,e) No opinion,0.011765,0.023529,0.023529,0.01,0.01,0.023529,0.016667
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Q2 Which areas are you primarily targeting to ...,NaN,Q2 Which areas are you primarily targeting to ...,Autumn-25,Spring-25,Autumn-24,Spring-24,Autumn-23,Spring-23,Autumn-22

In [ ]:
df2["Autumn-25"].dropna().head(20).tolist()

['Q1 Do you expect an overall increase in your banks ROE over the next 6 to 12 months?',
 'a) Yes',
 'b) Probably yes',
 'c) Probably no',
 'd) No',
 'e) No opinion',
 'Q2 Which areas are you primarily targeting to increase the profitability of your bank in the next 6 to 12 months? (Rank according to priority with 1 - High Priority and 4 - Low Priority): a) Net interest income',
 1,
 2,
 3,
 4,
 'Not Applicable',
 'Q2 Which areas are you primarily targeting to increase the profitability of your bank in the next 6 to 12 months? (Rank according to priority with 1 - High Priority and 4 - Low Priority): b) Net fee and commission income',
 1,
 2,
 3,
 4,
 'Not Applicable',
 'Q2 Which areas are you primarily targeting to increase the profitability of your bank in the next 6 to 12 months? (Rank according to priority with 1 - High Priority and 4 - Low Priority): c) Other operating income',
 1]

In [13]:
mask_label = df2["Autumn-25"].apply(lambda x: isinstance(x, str))
mask_value = df2["Unnamed: 2"].notna()

print("label rows:", mask_label.sum())
print("value rows:", mask_value.sum())

df2.loc[mask_label, ["Autumn-25"]].head(10)
df2.loc[mask_value, ["Unnamed: 2"]].head(10)

label rows: 820
value rows: 696

    Unnamed: 2
2     0.129412
3     0.188235
4     0.400000
5     0.270588
6     0.011765
10    0.329412
11    0.411765
12    0.188235
13    0.058824
14    0.011765

In [14]:
df3 = df2.copy()

# Create a column with the current item label
df3["item_label"] = df3["Autumn-25"].where(mask_label)

# Fill labels down so each value row gets the nearest previous label
df3["item_label"] = df3["item_label"].ffill()

# Keep only rows where we have numeric values
df_values = df3[df3["Unnamed: 2"].notna()].copy()

df_values[["item_label", "Unnamed: 2"]].head(20)
print(df_values.shape)

(696, 11)

In [15]:
df_tidy = pd.DataFrame({
    "exercise": "RAQ_2025_Autumn",
    "period": "TR2025",
    "item_label": df_values["item_label"],
    "value": pd.to_numeric(df_values["Unnamed: 2"], errors="coerce"),
    "source": "eba_transparency_2025_raq_statistical_annex.xlsx"
})

df_tidy.head(20)
print(df_tidy.shape)
print(df_tidy["value"].isna().mean())

(696, 5)
0.0

In [16]:
period_columns = {
    "Autumn-25": "TR2025_AUTUMN",
    "Unnamed: 6": "TR2025_SPRING",
    "Unnamed: 7": "TR2024_AUTUMN",
    "Unnamed: 8": "TR2024_SPRING",
    "Unnamed: 9": "TR2023_AUTUMN",
    "Unnamed: 10": "TR2023_SPRING",
    "Unnamed: 11": "TR2022_AUTUMN",
}

period_columns

{'Autumn-25': 'TR2025_AUTUMN',
 'Unnamed: 6': 'TR2025_SPRING',
 'Unnamed: 7': 'TR2024_AUTUMN',
 'Unnamed: 8': 'TR2024_SPRING',
 'Unnamed: 9': 'TR2023_AUTUMN',
 'Unnamed: 10': 'TR2023_SPRING',
 'Unnamed: 11': 'TR2022_AUTUMN'}

In [17]:
records = []

for col, period_code in period_columns.items():
    mask_value = df3[col].notna()

    tmp = pd.DataFrame({
        "exercise": "RAQ_2025_Autumn",
        "period": period_code,
        "item_label": df3.loc[mask_value, "item_label"],
        "value": pd.to_numeric(df3.loc[mask_value, col], errors="coerce"),
        "source": "eba_transparency_2025_raq_statistical_annex.xlsx"
    })

    records.append(tmp)

df_long = pd.concat(records, ignore_index=True)

df_long.shape

(2206, 5)

In [18]:
df_long["period"].value_counts()
df_long["item_label"].nunique()
df_long.head(10)
df_long.tail(10)

,exercise,period,item_label,value,source
2196,RAQ_2025_Autumn,TR2022_AUTUMN,Q24.2 What kind of threats and techniques were...,NaN,eba_transparency_2025_raq_statistical_annex.xlsx
2197,RAQ_2025_Autumn,TR2022_AUTUMN,Q30 Which of the following instruments have yo...,NaN,eba_transparency_2025_raq_statistical_annex.xlsx
2198,RAQ_2025_Autumn,TR2022_AUTUMN,a) Green bonds (proceeds-based) except green s...,0.750000,eba_transparency_2025_raq_statistical_annex.xlsx
2199,RAQ_2025_Autumn,TR2022_AUTUMN,b) Green securitisations (asset-based and/or p...,0.133333,eba_transparency_2025_raq_statistical_annex.xlsx
2200,RAQ_2025_Autumn,TR2022_AUTUMN,c) Green covered bonds (asset-based and/or pro...,0.000000,eba_transparency_2025_raq_statistical_annex.xlsx
2201,RAQ_2025_Autumn,TR2022_AUTUMN,d) Social bonds (proceeds-based),0.233333,eba_transparency_2025_raq_statistical_annex.xlsx
2202,RAQ_2025_Autumn,TR2022_AUTUMN,e) Sustainability bonds* (proceeds-based),0.233333,eba_transparency_2025_raq_statistical_annex.xlsx
2203,RAQ_2025_Autumn,TR2022_AUTUMN,f) Sustainability-linked bonds* (performance-b...,0.050000,eba_transparency_2025_raq_statistical_annex.xlsx
2204,RAQ_2025_Autumn,TR2022_AUTUMN,g) Bonds that are a combination of proceeds an...,0.000000,eba_transparency_2025_raq_statistical_annex.xlsx
2205,RAQ_2025_Autumn,TR2022_AUTUMN,h) None of the above,0.216667,eba_transparency_2025_raq_statistical_annex.xlsx

In [19]:
import hashlib

def make_item_code(text: str) -> str:
    return hashlib.sha1(text.encode("utf-8")).hexdigest()[:12]

df_long["item_code"] = df_long["item_label"].apply(make_item_code)

df_long[["item_code", "item_label"]].drop_duplicates().head(10)

       item_code                                         item_label
0   a1adaea6e91d  Q1 Do you expect an overall increase in your b...
1   997c1cdeae29                                             a) Yes
2   d917c472fcf7                                    b) Probably yes
3   5963bb46235b                                     c) Probably no
4   baecda741ea2                                              d) No
5   29cd1aea706f                                      e) No opinion
6   a1382cbc9231  Q2 Which areas are you primarily targeting to ...
11  6672b815dc38                                     Not Applicable
12  6f431fa7d265  Q2 Which areas are you primarily targeting to ...
18  e421c72eac9e  Q2 Which areas are you primarily targeting to ...

In [ ]:
df_final = df_long[[
    "exercise",
    "period",
    "item_code",
    "item_label",
    "value",
    "source"
]]

df_final.shape
df_final.head()